<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#206A5D"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/192.png">
    <link rel="icon" href="icon.png">    
    <title>ExploResto</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <img tabindex="0" class="header__brand" src="brand.png" alt="ExploResto">
        <button id="menu" class="header__menu" aria-label="click to open navigatian menu">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/home">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://github.com/zianatulmuna">About Us</a></li>
            </ul>
        </nav>        
    </header>
    <div class="hero">
        <div class="hero__inner">
            <h1 tabindex="0" class="hero__title">Restaurant Catalog</h1>
            <p tabindex="0" class="hero__tagline">Explore restaurants around you and discover food tastes</p>
        </div>
    </div>
    <main tabindex="0" id="maincontent"></main>
    <footer>
        <p>Copyright © 2022 - ExploResto Apps</p>
    </footer>
</body>
</html>
