@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Plus+Jakarta+Sans:ital,wght@0,300;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Plus Jakarta Sans', "Roboto", sans-serif;
    font-size: 14px;
    color: #424242;
}

/*
 * Header
 *
 */

.header {
    min-height: 56px;
    display: flex;
    justify-content: space-between;       
    align-items: center;
    padding: 0 30px;

}

.header__title {
    color: #30475E;
}


/*
 * Top level navigation
 */

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: #F05454;
    font-size: 12pt;
}

.nav a:hover {
    text-decoration: bold;
    color: #000;
}

/*
 * Jumbotron
 */

 .hero {  
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-color: #30475E;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

/*
 * main
 */

 main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

 .content {
    padding: 32px;
}

/*
 * latest
 */

 .latest {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.latest__label {
    font-size: 32px;
    font-weight: lighter;
}

.latest__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

 .posts {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * post item
 */

 .post-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.post-item__content {
    padding: 16px;
}

.post-item__thumbnail {
    width: 100%;
}

.post-item__date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.post-item__title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.post-item__title:hover {
    opacity: 0.5;
}

.post-item__title a {
    text-decoration: none;
    color: inherit;
}

.post-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}