@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,500;0,600;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', "Roboto", sans-serif;
    font-size: 14pt;
    font-weight: normal;
    color: #000;
    background-color: #f1f1f1;
}


/*
 * Header
 *
 */

.header {
    height: 80px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;       
    align-items: center;
    background-color: #fff;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.header__title {
    height: 44px;
    padding: 3px 0;
}

.header__menu {
    font-size: 28px;
    display: block;
    min-width: 44px;
    min-height: 44px;
    background-color: transparent;
    border: none;
}

.header__menu button {
    background: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}


/*
 * Top level navigation
 */

.nav {
    margin-left: 30px;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    line-height: 24px;
}

.nav a {
    display: inline-block;
    font-size: 14pt;
    padding: 15px;
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
    color: #F58634;
}

.nav a:hover {
    color: #cc6a23;
}


/*
 * Jumbotron
 */

 .hero {  
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/hero-image_4.jpg");
    background-position: center;
    background-color: #30475E;
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    font-weight: 600;
    min-width: 44px;
    min-height: 44px;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 40px;
}


/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
    flex: 1;
}


/*
 * content
 */
.content {
    margin: 0 auto;
    min-height: 100%;
    padding: 18px;
}



/*
 * post-item
 */

 .content__item {
    width: 100%;
    margin: 60px auto;
    text-align: center;
    color: #206A5D;
    font-weight: lighter;
}

.content__heading {
    font-size: 24pt;
    font-weight: lighter;
}

.content__heading::after {
    content: '';
    margin-top: 10px;
    display: block;
    border-bottom: 1.5px solid #ddd;
}


/*
 * post
 */

 .posts {
    margin: 32px auto auto;
    text-align: left;
}


/*
 * post item
 */

.post-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    color: #000;
}

.post-item__content {
    padding: 16px;
}

.post-item__header {
    position: relative;
}

.post-item__thumbnail {
    width: 100%;
}

.post-item__rating {
    position: absolute;
    padding: 7px 10px;
    top: 20px;
    left: 0;
    display: inline-block;
    font-size: 11pt;
    color: white;
    background-color:black
}

.post-item__rating__score {
    margin-left: 10px;
}

.post-item__city {
    font-size: 10pt;
    margin-top: 16px;
    color: #206A5D;
}

.post-item__city__name {
    margin-left: 8px;
    color: black;
}

.post-item__title {
    font-weight: 500;
    font-size: 14pt;
    margin-top: 10px;
    transition: 0.3s opacity;
    color: #81b214;
}

.post-item__title a {
    padding: 10px 0;
}

.post-item__title a:hover {
    opacity: 0.6;
}

.post-item__title a {
    text-decoration: none;
    color: inherit;
}

.post-item__description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5em;
}


/*
 * footer
 */

 footer {
    background-color: #2c3e50;
    padding: 2em;
    width: 100%;
    text-align: center;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}