.posts {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 500px) { 
    .nav {
        top: 0;
        margin-top: 80px;
        background-color: #f9f9f9;
        width: 280px;
        position: absolute;
        
        /* drawer off canvas. */
        -webkit-transform: translate(-100px, 0);
        transform: translate(-400px, 0);

        /* animate the drawer. */
        transition: transform 0.3s ease;
    }

    .nav ul {
        list-style-type: none;
        padding: 0 20px;
    }

    .nav li {
        padding: 5px 0px;
    }

    .open {
        -webkit-transform: translate(-10, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
        list-style-type: none;
    }

}


@media screen and (min-width: 500px) {
    .header__menu {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .header__title {
        height: 44px;
        padding: 7px 0;
        margin-left: 20px;
    }

    .nav a {
        font-size: 12pt;
        padding: 10px;
    }

    .explore__label {
        font-size: 20pt;
    }
}

@media screen and (min-width: 650px) {
    .post-item__content {
        padding: 16px 32px 32px 32px;
    }

    .post-item__title {
        height: 44px;
        padding: 10px 0;
    }

    .post-item__description {
        font-size: 10pt;
    }
}

@media screen and (min-width: 700px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    .post-item__thumbnail {
        max-height: 200px;
        object-fit: cover;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }

    .post-item__thumbnail {
        max-height: 230px;
        object-fit: cover;
    }
}

@media screen and (min-width: 900px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .post-item__thumbnail {
        max-height: 180px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1000px) {
    .post-item__thumbnail {
        max-height: 200px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1100px) {
    .post-item__thumbnail {
        max-height: 240px;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
    
    .hero {
        min-width: 1000px;
    }
}